<div class="product_cart">
    <div class="line"></div>
    <div class="product_item">
        <div class="product_details">
            <div class="product_characteristics">
                <img class="product_image" src="{{product.image}}">
                <div class="product_info">
                    <span>{{product.name}}</span>
                    <span>{{product.price}}</span>
                    <span>Color: Green</span>
                </div>
            </div>
            <div class="price_info">
                <div class="quantity">
                    <button class="calculate">
                        <mat-icon class="material-icons-outlined" aria-hidden="true" (click)="onDecrease()">remove</mat-icon>
                    </button>
                    <span>{{product.quantity}}</span>
                    <button class="calculate">
                        <mat-icon class="material-icons-outlined" aria-hidden="true" (click)="onIncrease()">add</mat-icon>
                    </button>
                </div>
                <span class="product_price">{{product.price | currency}}</span>
                <button class="delete">
                    <mat-icon class="material-icons-outlined" aria-hidden="true" (click) = "onDeleteFromCart()">close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>