<div class="login-page">
    <button class="login-button" (click)="onLogout()" *ngIf="authService.isLoggedIn; else loginBtn">Logout</button>
    <ng-template #loginBtn>
    <h2>LOGIN</h2>
        <form id="user-form" #form="ngForm">
        <div class="wrapper">
            <span class="form_input_user_span">&#xe7ff;</span>
            <input type="text" class="form-input name" placeholder="Username" name="username" required [(ngModel)]="username">
            <span class="form_input_password_span">&#xe88d;</span>
            <input type="text" class="form-input password" placeholder="Password" required>
        </div>
        <button class="login-button" (click)="onLogin()">Login Now</button>
    </form>
    </ng-template>
</div>
